* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.arm-inputs {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.arm-input-container {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  margin: 8px;
}

.arm-input-reward {
  padding: 8px;
  text-align: center;
}

.arm-input-reward-value {
  margin: 0 0 16px 0;
}

.settings-label {
  text-transform: uppercase;
  margin: 8px;
}

.settings-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
}

label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label > p {
  font-size: 14px;
  margin: 8px;
}

.decay-input-container,
.epsilon-input-container,
.iterations-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.epsilon-input-container {
  margin: 8px 0;
}

.decay-input {
  width: 200px;
}

.summary {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 0 0 0;
}

.arm-counts {
  display: flex;
  flex-direction: row;
}

.arm-count {
  margin: 8px;
}

.arm-count-title {
  font-weight: 800;
}

.learn {
  margin: 16px;
}
