* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  padding: 16px;
  text-transform: uppercase;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:hover {
  cursor: pointer;
}

legend {
  text-align: center;
}

.arm-inputs {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.arm-input-with-label {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arm-input-with-label:hover {
  border: 1px solid #07c;
}

.arm-input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  padding: 16px;
}

.arm-input-reward {
  padding: 8px;
  text-align: center;
}

.arm-input-reward-value {
  margin: 0 0 16px 0;
}

.settings-label {
  text-transform: uppercase;
  margin: 8px;
}

.settings-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 16px 0;
  padding: 16px;
}

.settings-container:hover {
  border: 1px solid #07c;
}

label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label > p {
  font-size: 12px;
  margin: 8px;
}

.decay-input-container,
.decay-interval-input-container,
.epsilon-input-container,
.iterations-input-container,
.tau-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  text-align: center;
}

.decay-input,
.decay-interval-input {
  width: 200px;
}

.strategies-label {
  margin: 8px;
}

.strategies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0;
}

.strategy {
  align-items: center;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px 8px 16px 8px;
  padding: 16px;
  text-align: center;
}

.strategy:hover {
  border: 1px solid #07c;
}

.strategy.active {
  background-color: #fff;
  border: 1px solid #07c;
}

.strategy-settings {
  display: grid;
  grid-row-gap: 16px;
}

.strategy > .name {
  font-weight: 600;
}

.summary-count {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 0 0 0;
  height: 400px;
  width: 600px;
}

.summary-count-title {
  margin-bottom: 16px;
}

.summary-order {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 0 0 0;
  height: 400px;
  width: 90%;
}

.summary-epsilon {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 0 0 0;
  width: 100%;
}

.summary-confidence-intervals {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 0 0 0;
  height: 400px;
  width: 100%;
}

.learn {
  margin: 32px;
}
